node_modules
dist
dist-ssr

# Build artifacts
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/settings.json
.idea

# Next.js
.next
out
next-env.d.ts
